.container {
  display: flex;
  margin-top: 100px;
  height: 30px;
  align-items: center;
  justify-content: space-around;

  h2 {
    color: #FFF;
    font-size: 30px;
  }
}

.result {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin: 10px 10px;
  justify-content: space-between;

  button {
    background-color: #FFF;
    height: 30px;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 4px;
  }
}

@media (min-width: 360px){
  .container {
    display: flex;
    height: 100%;
    width: 93%;
    margin: 0 auto;
    padding: 0 50px;

    h2 {
      font-size: 20px;
    }
  }

  .result {
    align-items: center;

    button {
      padding: 1px;
      width: 80px;
    }
  }
}

